*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body
{background-color: black;}

#logo
  {
    position: fixed;
    z-index: 2;
    top:20px;
    left:900px;

  }

  #bg
{
    display: flex;
    width: 100%;
    opacity: 0.7;
    position: fixed;  
    bottom: 00px;;
}

.footer
  {
    background-color: #04ff2e;
    color: white;
    z-index: 3;
    position: relative;
    bottom: -200px;
    height: 100px;
    text-align: center;
    justify-content: center;
    font-size: 80px;
  }

  .head
{
  color:white;
  background-image: linear-gradient(to right, #0c5a0c, #01ff38);
  position:fixed;
  z-index: 9;
  height: 50px;
  width:1380px;

  text-align: center;
    justify-content: center;
  
}

.Identification
{
    position: relative;
    z-index: 8;
    top:200px;
    
    display: flex;
  justify-content: center;
  align-items: center;
}

.Identification .R5000pkr
{
    position: relative;
    z-index: 8;
    width: 40%;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #ffffff, #00ff00) 1;
  bottom: 1333px;
}

.Identification table
{
    position: relative;
    z-index: 9;
    
  border: 1px solid rgb(19, 219, 46);
  color: white;
  top: -65px;
  
  
  
}

.Identification table td, th
{
    border: 1px solid transparent;
  padding: 8px;
  border-image: linear-gradient(to right, #ffffff, #00ff00) 1;
  border-image-slice: 1;
  
}

.Identification table th
{
  background-image: linear-gradient(to right, #0c5a0c, #01ff38);
}

.Identification table td
{
   
  padding: 8px;
 
  
}

  @media only screen and (min-width: 1200px) and (max-width: 1366px){
    #logo
  {
    position: fixed;
    z-index: 2;
    top:20px;
    left:500px;

  }
  }
  @media only screen and (max-width: 992px){
    #logo
    {
      position: fixed;
      z-index: 2;
      top:20px;
      left:200px;
  
    }
    .footer
  {
    background-color: #04ff2e;
    color: white;
    z-index: 3;
    position: relative;
    bottom: -200px;
    height: 100px;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    width:1100px;
  }

  .head
{
  color:white;
  background-image: linear-gradient(to right, #0c5a0c, #01ff38);
  position:fixed;
  z-index: 9;
  height: 50px;
  width:1100px;

  text-align: center;
    justify-content: center;
  
}

  }
  @media only screen and (max-width: 768px){
    #bg
    {
        display: flex;
        width: 140%;
        opacity: 0.7;
        position: fixed;  
        bottom: 00px;;
    }
  }
  @media only screen and (max-width: 600px){
    #bg
    {
        display: flex;
        width: 180%;
        opacity: 0.7;
        position: fixed;  
        bottom: 00px;;
    }
    .Identification
{
    position: relative;
    z-index: 8;
    top:200px;
    
    right:-250px;
    
  justify-content: center;
  align-items: center;
}

.Identification .R5000pkr
{
    position: relative;
    z-index: 8;
    width: 60%;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #ffffff, #00ff00) 1;
  bottom: 1333px;
  margin-right: 8px;
}

  }
  @media only screen and (max-width: 480px){
    #bg
    {
        display: flex;
        width: 230%;
        opacity: 0.7;
        position: fixed;  
        bottom: 00px;;
    }
  }