ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

body {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(66, 66, 66));
}

.reg {
    font-size: 40px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin: 200px 0px 0px 270px;
    animation: glowing 1s infinite;
    -webkit-animation: glowing s infinite;
    bottom: 510px;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #ffffff;
        /* Start with a green glow */
    }
    50% {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff;
        /* Increase the glow intensity */
    }
    100% {
        text-shadow: 0 0 10px #ffffff;
        /* Decrease the glow intensity back to the starting value */
    }
}


/* Apply the glow animation to the glowing class */

.sign {
    font-size: 40px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin: 200px 0px 0px 270px;
    animation: glowing 1s infinite;
    -webkit-animation: glowing s infinite;
    bottom: 150px;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #ffffff;
        /* Start with a green glow */
    }
    50% {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff;
        /* Increase the glow intensity */
    }
    100% {
        text-shadow: 0 0 10px #ffffff;
        /* Decrease the glow intensity back to the starting value */
    }
}


/* Apply the glow animation to the glowing class */

#logo {
    width: 200px;
    height: 150px;
    border-image: linear-gradient(#ec2a1c, #d0d308be) 30;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    position: absolute;
    top: 25px;
}

.reg-form {
    position: absolute;
    bottom: 200px;
    color: white;
    right: 200px;
    width: 800px;
}

.sign-form {
    position: absolute;
    bottom: 20px;
    color: white;
    right: 200px;
    width: 800px;
}